*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
}
.clock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 7px;
    position: relative;
    border: 1px solid white;
    .add{
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 30px;
        h5{
            width: 33.33%;
            text-align: center;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
            color: white;
            padding-bottom: 10px;
        }
    }
    h1{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        font-size: 50px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    h2{
        position: absolute;
        top: 50%;
        left: 64%;
        transform: translateY(-50%);
        font-size: 50px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    div{
        width: 33.33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        position: relative;
        p{
            font-size: 30px;
            color: #ffffff;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}